.comments__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    width: 500px;
    height: auto;
    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
}

.comment__box {
    display: flex;
    align-items: center;
    width: 490px;
    height: 40px;
    margin: 5px;
    border: 1px var(--blue-texts) solid;
}

.next__comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 490px;
    height: auto;
    margin: 5px;
    border: 1px var(--blue-texts) solid;
}

textarea {
    width: 100%;
    height: 30px;
    resize: vertical;
}

.approved__comment__title {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 4px;
    color: var(--blue-texts);

    margin-top: 20px;
    margin-bottom: 10px;
}

.comments__image__users {
    margin: 5px;
}
