.approved__payment__container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    align-items: center;
    width: 500px;
    height: auto;
    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
}

.send__or__request {
    display: flex;
}

.send__btn__margin__bottom {
    margin-top: 40px;
    margin-bottom: 30px;
}

.message__error {
    margin-top: 5px;
    position: relative;
    left: 63px;
}

.amount__error {
    margin-top: 5px;
    position: relative;
    left: 60px;
}

.email__receiver__error {
    margin-top: 5px;
    position: relative;
    left: 40px;
}

.foot__note {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: var(--blue-texts);
    margin-top: -15px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

.foot__note>span {
    font-size: 14px;
    font-weight: 700;
    margin: 0 5px;
}

.foot__note>div {
    font-size: 10px;
    position: relative;
    margin-right: 5px;
    top: -2px
}
