.pending__tran__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    padding: 40px;
    width: 420px;
    height: auto;
    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
}

.pending__tran__text__and__number {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.pending__tran__text {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 4px;
    color: var(--blue-texts);
    margin-bottom: 10px;
}

.pending__tran__number {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 4px;
    color: var(--main-red);
    margin-left: 20px;
    margin-bottom: 7px;
}

.pending__tran__from__and__name {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.pending__tran__from {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 4px;
    color: var(--blue-texts);
}

.pending__tran__name {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--blue-texts);
}

.pending__tran__to__and__user {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.pending__tran__to {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 4px;
    color: var(--blue-texts);
}

.pending__tran__user__name {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--blue-texts);
}

.pending__tran__user__email {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 4px;
    color: var(--blue-texts);
}

.pending__tran__chickens__and__amount {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.pending__tran__chickens {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
    color: var(--selected-color);
    margin-bottom: 8px;
}

.pending__tran__amount {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 4px;
    color: var(--selected-color);
    margin-left: 10px;
    margin-bottom: 4px;
}

.pending__chickens__edit__button {
    /* display: flex;
    align-items: center; */
    border: black 2px solid
}

.pending__tran__message__and__message {
    display: flex;
    align-items: center;
}

.pending__tran__message__title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 4px;
    color: var(--blue-texts);
}

.pending__tran__message__content {
    font-weight: 700;
    font-size: 15px;
    color: var(--blue-texts);
    width: 415px;
    display: inline-block;
    word-wrap: break-word;
}

.edit__message__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 415px;
    height: auto;
    margin-top: 5px;
}

.edit__amount__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 40px;
    margin-top: 5px;
}

.back__btn {
    font-size: 18px;
    font-weight: 600;
    color: var(--blue-texts);
    position: relative;
    left: -220px;
    margin-top: 40px;
    text-decoration: none;
    transition: 0.2s;
}

.back__btn:hover {
    color: var(--rollover-color);
    cursor: pointer;
}

.pending__amount {
    display: flex;
}

.pending__message {
    display: flex;
    margin-bottom: 40px;
}

.comments__division {
    width: 400px;
    height: 1px;
    background-color: var(--blue-texts);
}

.pending__approve__delete {
    display: flex;
}

.approve__delete__margin {
    margin-top: 40px
}

.approve__btn__size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    letter-spacing: 0px;
}

.pending__edit__btn__size {
    width: 80px;
    margin: 0 20px;
}

.chicken__up {
    margin: 12px 18px;
}

.pending__E__D__btn__size {
    width: 100px;
    margin: 0 5px;
}

.message__error__pending {
    margin-top: 5px;
    position: relative;
}

#chicken__4__gray__one__pending {
    position: relative;
    width: 250px;
    height: auto;
    top: -550px;
    left: -250px;
    transform: rotate(-90deg);
    z-index: -1;
}

#chicken__6__yellow__one__pending {
    position: relative;
    width: 150px;
    height: auto;
    top: -50px;
    left: 210px;
    transform: scalex(-1) rotate(210deg);
    z-index: -1;
}

.displayed__pay__funds {
    display: block;
}

.not__displayed__pay__funds {
    display: none;
}

.displayed__message {
    display: block;
}

.not__displayed__message {
    display: none;
}

.chickens__number__green {
    font-size: 30px;
    font-weight: 800;
}

.number__of__chickens__green {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--selected-color);
}

.chickens__number__red {
    font-size: 30px;
    font-weight: 800;
}

.number__of__chickens__red {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--main-red);
}
