.pending__tran__container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
}

.pending__tran__text {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 4px;
    color: var(--blue-texts);

    margin-top: 40px;
    margin-bottom: 10px;
}

.pending__tran__number {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 4px;
    color: var(--blue-texts);

    margin-top: 40px;
    margin-bottom: 10px;
}

.to__user {
    display: flex;
}

.edit__amount {
    display: flex;
}

.edit__message {
    display: flex;
}


.displayed__pay__funds {
    display: block;
}

.not__displayed__pay__funds {
    display: none;
}

.displayed__message {
    display: block;
}

.not__displayed__message {
    display: none;
}
