#login__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.login__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
    width: 450px;
    height: auto;

    margin-top: 200px;
    overflow: hidden;
}


.henmo__logo__login {
    position: absolute;
    top: 60px;

}

.henmo__logo__login>img {
    width: 300px;
    height: auto;
    top: -70px;
}

.login__btn__size {
    width: 400px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 2px;
}


.or__signup {
    display: flex;
    align-items: center;
    margin: 10px;
}

.errors__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 9px;
    font-weight: 700;
    color: var(--main-red)
}

#chicken__1__white__login {
    position: relative;
    width: 100px;
    height: auto;
    top: -60px;
    right: 240px;
    transform: rotate(25deg);
    margin-bottom: -110px;
}

#chicken__4__light__gray__login {
    position: relative;
    width: 120px;
    height: auto;
    top: -210px;
    left: 140px;
    transform: rotate(150deg);
    margin-bottom: -110px;
}
