#login__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.login__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
    width: 450px;
    height: auto;

    margin-top: 140px;
}


.henmo__logo__login {
    position: absolute;
    top: 60px;

}

.henmo__logo__login>img {
    width: 300px;
    height: auto;
    top: -70px;

}

/*   in SIGNUP.CSS
.forms__inputs__format {
    display: flex;
    flex-direction: column;
} */

/*  in SIGNUP.CSS
.forms__name {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 8px;
    color: var(--blue-texts);

    margin-top: 40px;
    margin-bottom: 10px;
} */

/*   in SIGNUP.CSS
.forms__label {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: var(--blue-texts);
    margin: 10px;
} */

/*   in SIGNUP.CSS
.forms__inputs__format>input {
    height: 40px;
    border: none;
    border-bottom: 1px var(--blue-texts) solid;
} */

.login__btn__size {
    width: 400px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 2px;

}

.login__or__signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* border: green 1px solid; */
}

.or__signup {
    display: flex;
    align-items: center;
    margin: 10px;
}

/*   in SIGNUP.CSS
.or {
    font-size: 10px;
    margin-right: 5px;
    margin-top: 4px
} */

/*   in SIGNUP.CSS
.link__to__other__auth {
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    color: var(--blue-texts)
} */

.errors__login {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    color: var(--main-red)
}
