#signup__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
}

.signup__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
    width: 550px;
    height: auto;
}

.henmo__logo__signup {
    position: absolute;
    top: 10px;
}

.henmo__logo__signup>img {
    width: 400px;
    height: auto;
}

.forms__inputs__format {
    display: flex;
    flex-direction: row;

}

.forms__inputs__special__format {
    display: flex;
    border: purple 1px solid;
}

.forms__inputs__name {
    display: flex;
    flex-direction: row;
    /* align-items: space-around; */
}

.forms__name {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 8px;
    color: var(--blue-texts);
    margin-top: 40px;
    margin-bottom: 10px;
}

.forms__label {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: var(--blue-texts);
    margin: 15px 5px;
    white-space: nowrap;
}


.forms__inputs__format>input {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px var(--blue-texts) solid;
}

.forms__inputs__special__format>input {
    height: 40px;
    width: auto;
    border: none;
    border-bottom: 1px var(--blue-texts) solid;
}

.signup__btn__size {
    width: 500px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.login__or__signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.or__login {
    display: flex;
    align-items: center;
    margin: 10px;
}

.or {
    font-size: 10px;
    margin-right: 5px;
    margin-top: 4px
}

.link__to__other__auth {
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    color: var(--blue-texts)
}

.errors__signup {
    color: var(--main-red)
}
