#signup__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.signup__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
    border: 1px var(--blue-texts) solid;
    width: 450px;
    height: auto;

    margin-top: 140px;
}

.henmo__logo__signup {
    position: absolute;
    top: 60px;
}

.henmo__logo__signup>img {
    width: 300px;
    height: auto;
    top: -70px;
}

.forms__inputs__format {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.forms__inputs__special__format {
    display: flex;
}

.forms__inputs__name {
    display: flex;
    flex-direction: row;
    /* align-items: space-around; */
}

.forms__name {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 10px;
    color: var(--blue-texts);
    margin: 25px 0;

}

.forms__label {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: var(--blue-texts);
    margin: 15px 0px;
    white-space: nowrap;
}

.forms__inputs__format>input {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px var(--blue-texts) solid;
}

.forms__inputs__special__format>input {
    height: 40px;
    width: auto;
    border: none;
    border-bottom: 1px var(--blue-texts) solid;
}

.signup__btn__size {
    width: 400px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 2px;
}

.login__or__signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.or__login {
    display: flex;
    align-items: center;
    margin: 10px;
}

.or {
    font-size: 10px;
    margin-right: 5px;
    margin-top: 4px
}

.link__to__other__auth {
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    color: var(--blue-texts);
    transition: .3s;
}

.link__to__other__auth:hover {
    color: var(--rollover-color)
}

.errors__signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    color: var(--main-red)
}
