:root {
    font-family: 'Open Sans', sans-serif;

    --bg-color: #DDDDDD;

    --white: #ffffff;
    --blue-texts: #2E4A63;
    --main-red: #DC0022;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
}

input {
    padding: 0 10px;
}

.red__button__basic {
    color: var(--white);
    background-color: var(--main-red);
    border: none;
}
