:root {
    font-family: 'Open Sans', sans-serif;

    --bg-color: #DDDDDD;

    --white: #ffffff;
    --blue-texts: #2E4A63;
    --main-red: #DC0022;
    --main-red-disabled: #d2a2a9;
    --main-orange: #F99223;
    --rollover-color: #3DA0A5;
    --selected-color: #227C00;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
}

input {
    padding: 0 10px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.red__button__basic {
    color: var(--white);
    background-color: var(--main-red);
    border: none;
    transition: .2s;
}

.red__button__disabled {
    color: var(--white);
    background-color: var(--main-red-disabled);
    border: none;
}

.red__button__basic:hover {
    letter-spacing: 10px;
    color: var(--main-red);
    background-color: var(--white);
    border: var(--main-red) 1px solid;
}

.red__button__v2 {
    color: var(--white);
    background-color: var(--main-red);
    border: none;
    transition: .2s;
}

.red__button__v2:hover {
    letter-spacing: 6px;
    color: var(--main-red);
    background-color: var(--white);
    border: var(--main-red) 1px solid;
}

.orange__button__v2 {
    color: var(--white);
    background-color: var(--main-orange);
    border: none;
    transition: .2s;
}

.orange__button__v2:hover {
    letter-spacing: 4px;
    color: var(--main-orange);
    background-color: var(--white);
    border: var(--main-orange) 1px solid;
}

.blue__button__basic {
    color: var(--white);
    background-color: var(--blue-texts);
    border: none;
    transition: .2s;
}

.blue__button__basic:hover {
    letter-spacing: 10px;
    color: var(--blue-texts);
    background-color: var(--white);
    border: var(--blue-texts) 1px solid;
}

.blue__button__v2 {
    color: var(--white);
    background-color: var(--blue-texts);
    border: none;
    transition: .2s;
}

.blue__button__v2:hover {
    letter-spacing: 4px;
    color: var(--blue-texts);
    background-color: var(--white);
    border: var(--blue-texts) 1px solid;
}

.white__button__basic {
    color: var(--main-red);
    background-color: var(--white);
    border: var(--main-red) 1px solid;
    transition: .2s;
}

.white__button__basic:hover {
    letter-spacing: 10px;
    color: var(--white);
    background-color: var(--main-red);
    border: var(--white) 1px solid;
}

.white__button__v2 {
    color: var(--main-red);
    background-color: var(--white);
    border: var(--main-red) 1px solid;
    transition: .2s;
}

.white__button__v2:hover {
    letter-spacing: 4px;
    color: var(--white);
    background-color: var(--main-red);
    border: var(--white) 1px solid;
}

.splash__btn {
    margin: 5px;
    width: 140px;
    height: 25px;
    font-size: 12px;
    font-weight: 600;
}

#invalid {
    color: lightgray;
    transition: .3s;
}

#valid {
    color: #6CAC45;
    transition: .3s;
}

#disabled {
    color: #2b6f0064;
    background-color: #6dac455b;
    border-color: rgba(6, 132, 6, 0.254);
}

.error_style {
    font-weight: 700;
    font-size: 9px;
    color: var(--main-red)
        /* padding: 2px 0 0 5px; */
}
